include ../_modules/_Modules

block vars
  - var bodyTemplate = "default"

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title}
    link(rel='stylesheet' href='../css/app.css')
  body(data-template="#{bodyTemplate}")
    section.waves
      canvas.waves__canvas
    block content
    script(src="../js/jaaulde-cookies.js")
    script(src="../js/app.js")
    block footerScripts