extends ./layouts/_layout.jade

block vars
  - var bodyTemplate = "boards"

block content
  section.boards
    .boards__container
      h1= title
      h3 What’s in your quiver?
      p quiver (<em>kwiv-er</em>) n. - a collection of surfboards in different shapes, lengths and thicknesses
      span.error
      form#board-check.board-form
        +board-field("bb", "Bodyboard")
          include ../src/images/svg/bb.svg
        +board-field("sb", "Shortboard")
          include ../src/images/svg/sb.svg
        +board-field("lb", "Longboard")
          include ../src/images/svg/lb.svg
        +board-field("sup", "Stand-up Paddle board")
          include ../src/images/svg/sup.svg
      a.btn.btn--blue#submit(href="/skill") Next

block footerScripts
  script.
    // SET COOKIE
    var formSubmit = document.querySelector('#submit');
    var boardInputs = document.querySelectorAll('[data-boardType]');
    formSubmit.addEventListener('click', function(e) {
      var boardsSelected       = [],
          boardsSelectedBinary = [];
        for (var i = 0; i < boardInputs.length; i++) {
          var thisInput = boardInputs[i];
          if (thisInput.checked) {
            boardsSelected.push(thisInput.getAttribute('data-boardType'));
            boardsSelectedBinary.push("1");
          } else {
            boardsSelectedBinary.push("0");
          }
        };

        boardsSelectedBinary = boardsSelectedBinary.join("");
        if ( boardsSelectedBinary === "0000" ) {
          e.preventDefault();
          document.querySelector('span.error').innerHTML = "Whoops, you need to have a board to surf. No board? No dice."
        }
        if (cookies.test()) {
          cookies.set('boardsSelected', boardsSelected);

          cookies.set('boardsSelectedBinary', boardsSelectedBinary);
        }
    })

    // GET COOKIE
    if (cookies.get('boardsSelected')) {
      var cookieResult = cookies.get('boardsSelected');
      console.log('boardsSelected cookie exists: [' + cookieResult + ']');
      for (var i = 0; i < cookieResult.length; i++) {
        document.querySelector('[data-boardType="' + cookieResult[i] + '"]').checked = true;
      }
    }