extends ./layouts/_layout.jade

block content
  h1= title
  h3 What’s in your quiver?
  p quiver (<em>kwiv-er</em>) n. - a collection of surfboards in different shapes, lengths and thicknesses
  form#board-check
    .fieldset
      input#bb(type="checkbox" data-boardType="bb")
      label(for="bb") Boogie board
    .fieldset
      input#sb(type="checkbox" data-boardType="sb")
      label(for="sb") Shortboard
    .fieldset
      input#lb(type="checkbox" data-boardType="lb")
      label(for="lb") Longboard
    .fieldset
      input#sup(type="checkbox" data-boardType="sup")
      label(for="sup") Stand-up Paddle board
  a#submit(href="/skill") Next

  script.
    var formSubmit = document.querySelector('#submit');
    var boardInputs = document.querySelectorAll('[data-boardType]');
    formSubmit.addEventListener('click', function(e) {
      var boardsSelected = [];
      for (var i = 0; i < boardInputs.length; i++) {
        var thisInput = boardInputs[i];
        if (thisInput.checked) {
          boardsSelected.push(thisInput.getAttribute('data-boardType'));
        }
      };
      if (cookies.test()) {
        cookies.set('boardsSelected', boardsSelected);
      }
    })