extends ./layouts/_layout.jade

block content
  h1= title
  h3 What’s in your quiver?
  p quiver (<em>kwi-ver</em>) n. - a collection of surfboards in different shapes, lengths and thicknesses
  a(href="/skill") Next