extends ./layouts/_layout.jade

block content
  h1= title
  h3 Figure out what surf breaks <em>you</em> should check out <em>today</em> using this free little service.
  a.btn(href="/location") Let&rsquo;s Go
