extends ./layouts/_layout.jade

block vars
  - var bodyTemplate = "home"

block content
  section.waves
    canvas.waves__canvas
  section.splash
    .splash__container
      +sprite('logo-surfornah','','0 0 977 495')
      .tagline
        .tagline__container
          h1= title
          h2 Figure out what surf breaks <em>you</em> should check out <em>today</em>. Or nah.
          a.btn.btn--blue(href="/location") Let&rsquo;s Go
