extends ./layouts/_layout.jade

block vars
  - var bodyTemplate = "home"

block content
  section.waves
    canvas.waves__canvas
  section.splash
    .splash__container
      include ../src/images/svg/logo-surfornah.svg
      .tagline
        .tagline__container
          h1= title
          h2 Figure out what surf breaks <em>you</em> should check out <em>today</em>.
          a.btn.btn--blue(href="/results") Let&rsquo;s Go
block footerScripts
  script(src="../js/vendor/wave-canvas.js")