extends ./layouts/_layout.jade

block content
  h1= title
  h3 Aaactually, we are currently in beta.
  p For now, we’ll only be featuring the world-class surf breaks on the beaches of O&lsquo;ahu.
  a.btn(href="/boards") Next