extends ./layouts/_layout.jade

block content
  .map
    include ../src/images/svg/oahu.svg
  //- .message-overlay.message-overlay--inactive(data-surf-conditions)
  //-   .message-overlay__container
  //-     h1 You should <span class="message-overlay__suggestion"></span>.
  //- .directions
  //-   .direction(data-shore="south")
  //-     h1 SOUTH
  //-     each surfbreak,index in swellInfo
  //-       if (swellInfo[index].shoreDirection === "South")
  //-         +surfbreakMixin(surfbreak.title, swellInfo[index].heightRange[0], swellInfo[index].heightRange[1], swellInfo[index].heightMean, swellInfo[index].swellDirection)
  //-   .direction(data-shore="east")
  //-     h1 EAST
  //-     each surfbreak,index in swellInfo
  //-       if (swellInfo[index].shoreDirection === "East")
  //-         +surfbreakMixin(surfbreak.title, swellInfo[index].heightRange[0], swellInfo[index].heightRange[1], swellInfo[index].heightMean, swellInfo[index].swellDirection)
  //-   .direction(data-shore="west")
  //-     h1 WEST
  //-     each surfbreak,index in swellInfo
  //-       if (swellInfo[index].shoreDirection === "West")
  //-         +surfbreakMixin(surfbreak.title, swellInfo[index].heightRange[0], swellInfo[index].heightRange[1], swellInfo[index].heightMean, swellInfo[index].swellDirection)
  //-   .direction(data-shore="north")
  //-     h1 NORTH
  //-     each surfbreak,index in swellInfo
  //-       if (swellInfo[index].shoreDirection === "North")
  //-         +surfbreakMixin(surfbreak.title, swellInfo[index].heightRange[0], swellInfo[index].heightRange[1], swellInfo[index].heightMean, swellInfo[index].swellDirection)
//- block footerScripts