.btn {
  display: inline-block;
  padding: $column-gutter calc($column-gutter*4);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .1rem;
  border-radius: 4px;

  box-shadow: 2px 2px 5px -2px color(#000 a(80%));
  background-size: 100% 100%;
  background-position: center center;

  transition: all $easeOutExpo 250ms;

  &:active {
    transform: translate(2px, 2px);
    box-shadow: 0px 0px 5px -2px color(#000 a(80%));
  }

  &--blue {
    color: #fff;
    background-image: url('../../images/wash-turq.jpg');
  }
}