/* .waves {
  &, &__canvas {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
  }
} */

.branding {
  position: relative;
  padding: 0 calc($column-gutter*2);
  lost-utility: clearfix;

  &__logo-container {
    width: 100%;
  }
  .logo-surfstatus {
    display: block;
    width: 100%;
    height: auto;
    margin: calc(2*$column-gutter) auto;
    path { fill: #3a3a3a; }

  }
}

@media screen and (min-width: 640px) {
  .branding {
    padding-top: calc($column-gutter*2);
    padding-left: calc($column-gutter*4);
    padding-right: calc($column-gutter*4);
    &__logo-container {
      border-bottom: $c-grid-border calc($column-gutter) solid;
    }
    .logo-surfstatus {
      padding-left: calc(2*$column-gutter);
      padding-right: calc(2*$column-gutter);
    }
  }
}