mixin surfbreakMixin(title, min, max, mean, isWrap)
  .surfbreak.Wallop-item.carousel__row__item(data-height-mean=mean)
    h3.surfbreak__height
      | #{min}-#{max}&rsquo;
      //- - if (isWrap)
      //-   span wrap
    p.surfbreak__title= title
