@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Rock+Salt);

$column-gutter:     1rem;
$row-width:         640px;

$grid-border:       8px solid #ddd;

$c-slate:           #1A1D2D;
$c-blue:            #014E6E;
$c-red:             #EB4329;

$c-board-fill:      #444;
$c-board-detail:    #C9CCCF;

$c-body-bg:         $c-blue;
$c-body-font:       $c-slate;

$body-font-family:   'Montserrat', 'Helvetica Neue', Helvetica, sans-serif;
$title-font-family:  'Rock Salt', 'Helvetica Neue', Helvetica, sans-serif;

$easeOutExpo:       cubic-bezier(0.19, 1, 0.22, 1);