$column-gutter:     1rem;
$row-width:         920px;

$c-body-bg:         #eee;

$c-navy:            #0D273D;
$c-aqua:            #54D0ED;
$c-creme:           #FFFEF1;
$c-green:           #70B85D;
$c-green--dark:     #2C5E2E;