html, body {
  font-size: 90%;
}

@media screen and (min-width: 1200px) {
  html, body {
    font-size: 100%;
  }
}

body {
  background: $c-body-bg;
  font-family: $body-font-family;
  color: $c-body-font;
}

* {
  box-sizing: border-box;
}

.spritesheet {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  display: inline-block;
  vertical-align: middle;
}
