html, body {
  font-size: 90%;
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  html, body {
    font-size: 100%;
  }
}

body {
  font-family: $body-font-family;
  background: $c-body-bg;
}

.branding {
}

@media screen and (min-width: 640px) {
  body {
    &:before, &:after {
      content: "";
      position: fixed;
      top: 0;
      height: 100%;
      width: calc(2*$column-gutter);
      z-index: 300;
      background-color: $c-body-border;
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }
  .branding {
    &:before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 300;
      height: $column-gutter;
      background-color: $c-body-border;
      height: calc(2*$column-gutter);
    }
  }
}

* {
  box-sizing: border-box;
}

svg, img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

img {
  -ms-interpolation-mode: bicubic;
}

::selection {
  background-color: color($c-red tint(50%));
}