html, body {
  font-size: 90%;
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  html, body {
    font-size: 100%;
  }
}

body {
  font-family: $body-font-family;
  &:before, &:after {
    content: "";
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 300;
    width: calc(2*$column-gutter);
    background-color: $c-body-border;
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
}

* {
  box-sizing: border-box;
}

svg, img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

img {
  -ms-interpolation-mode: bicubic;
}

::selection {
  background-color: color($c-red tint(50%));
}