body[data-template="boards"] {
  background: $c-navy;
}

.boards {
  height: 100%;
  width: 100%;
  text-align: center;
  &__container {
    @extend container--center;
  }
}

.board-form {
  &__option {
    lost-column:1/2;
    lost-utility: clearfix;
    margin-top: $column-gutter;
    margin-bottom: $column-gutter;
    input[type='checkbox'] {
      display: none;
      &:checked + label {
        color: red;
        img {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
    label {
      lost-utility: clearfix;
      display: block;
      padding: $column-gutter;
      margin-top: calc($column-gutter);
      cursor: pointer;

      img {
        opacity: .5;
        transform: translateY(-$column-gutter);
        transform-origin: 50% 100%;
        transition: transform 125ms ease-out;
        &:hover {
          transform: scaleY(1.025) translateY(-$column-gutter);
        }
      }

      span {
        display: block;
        margin-top: $column-gutter;
      }

    }
  }
}

@media screen and (min-width: 620px) {
  .board-form {
    &__option {
      lost-column:1/4;
    }
  }
}