body[data-template="boards"] {
  background: $c-creme;
}

.boards {
  height: 100%;
  width: 100%;
  text-align: center;
  &__container {
    @extend container--center;
  }
}

.board-form {
  &__option {
    lost-column:1/2;
    lost-utility: clearfix;
    margin-top: $column-gutter;
    margin-bottom: $column-gutter;
    input[type='checkbox'] {
      display: none;
      &:checked + label {
        color: red;
        svg {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
    label {
      lost-utility: clearfix;
      display: block;
      padding: $column-gutter;
      margin-top: calc($column-gutter);
      cursor: pointer;

      svg {
        opacity: .5;
        transform: translateY(-$column-gutter);
        transform-origin: 50% 100%;
        transition: transform 125ms ease-out;
        &:hover {
          transform: scaleY(1.025) translateY(-$column-gutter);
        }
      }

      span {
        display: block;
        margin-top: $column-gutter;
      }

    }
  }
}

@media screen and (min-width: 620px) {
  .board-form {
    &__option {
      lost-column:1/4;
    }
  }
}

.board {

  &--bb {
    height: 10rem;
    &__base {
      fill: $c-board-fill;
      stroke: $c-aqua;
      stroke-width: 2;
    }
    &__detail {
      fill: color($c-board-detail a(.4));
    }
  }

  &--sb {
    height: 15rem;
    &__base {
       /* stroke="#65AF53" stroke-width="2" fill="#F5F5F5" */
       fill: $c-board-fill;
       stroke: $c-green;
       stroke-width: 2px;
    }
    &__detail {
      fill: color($c-board-detail a(.4));
    }
    &__stringer {
      fill: color($c-board-detail a(.3));
    }
  }

  &--lb {
    height: 20rem;
    &__base {
      stroke: $c-navy;
      stroke-width: 2px;
      fill: $c-board-fill;
    }
    &__stringer {
      fill: color($c-board-detail a(.3));
    }
  }

  &--sup {
    height: 22rem;
    &__base {
      stroke: $c-green--dark;
      stroke-width: 2px;
      fill: $c-board-fill;
    }
    &__detail {
      fill: color($c-board-detail a(.4));
    }
    &__paddle {
      fill: #000000;
    }
  }

}