body[data-template="home"] {
  background: $c-blue;
  color: #eee;
}

.waves {
  position: absolute;
  height: 100%;
  width: 100%;
  &__canvas {
    position: absolute;
    height: 100%;
    width: 100%;
  }
}

.splash {
  height: 100%;
  width: 100%;
  &__container {
    @extend container--center;

    pointer-events: none;

    img {
      padding: 0 calc($column-gutter*2);
      margin-bottom: $column-gutter;
    }
    .btn {
      pointer-events: initial;
    }
  }

  .logo-surfornah {
    padding: 0 $column-gutter;
    &__surf, &__nugget {
      fill: #fff;
    }
    &__or-nah {
    }
  }
}

.tagline {
  text-align: center;
  h1 {
    display: none;
  }
  h2 {
    margin: calc($column-gutter*2) 0 calc($column-gutter*2);
    padding: 0 $column-gutter;
  }
}

@media screen and (min-width: 640px) {
  .tagline {
    h2 {
      padding: 0;
      font-size: 2rem;
    }
  }
}