
.wave-report {
  border-top: calc($column-gutter*2) solid $c-body-border;
  padding-top: $padding-section;
  padding-bottom: $padding-section;
}

.directions {

  lost-center: $row-width;
  text-align: center;
  border: $grid-border;
  *::selection {
    background: transparent;
  }
  &__direction {
    position: relative;
    height: 0;
    padding-bottom: 50%;

    lost-column: 1/2 2 0;
    &:nth-child(odd) {
      border-right: $grid-border;
    }
    &:nth-last-child(-n+2) {
      border-top: $grid-border;
    }


    &__title {
      position: relative;
      margin: 0;
      transform: translateY(-50%);
      display: inline-block;
      font-size: 4rem;
      color: $c-red;
      span {
        position: absolute;
        bottom: -.5rem;
        right: -.5rem;

        font-family: $title-font-family;
        font-size: 1.5rem;
        color: #222;
      }
    }

    &__container {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
    }

  }
}

.surfbreak {
  &__title, &__height {
    margin: 0;
  }
  &__height {
    font-size: 5rem;
    color: $c-slate;
  }
  &__title {
    font-size: 1rem;
  }
}

.Wallop {
  cursor: pointer;
}