.map {
  position: relative;
  z-index: 100;
  lost-center: $row-width;
  .oahu {
    width: 100%;
    height: auto;
    &__base {
      use {
        fill: $c-green--dark;
      }
    }
    &__clips {
      &__clip {
        opacity: 0;
        &--active {
          animation: clipPulse 1s linear infinite normal;
        }
      }
    }
  }
}

.message-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0;
  transition: opacity 2s $easeOutExpo;
  .container {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    padding: $column-gutter;
    text-align: center;
  }

  &__suggestion {
    margin: 0;
    font-size: 4rem;
    line-height: 1;
    color: #fff;
    span {
      font-family: $title-font-family;
      font-size: 200%;
      vertical-align: sub;
    }
  }

  &__locations {
    margin: $column-gutter 0 0;
    line-height: 1;
    span {
      display: block;
    }
    b {
      font-family: $title-font-family;
      font-size: 125%;
      vertical-align: sub;
    }
  }

  &--active {
    background-color: color(#000 a(.5));
    opacity: 1;
  }
}

/* [class*="--inactive"] {
  opacity: 0;
}

[class*="--active"] {
  opacity: 1;
} */